/*
* @Author: konstantinkuchernko
* @Date:   2017-05-24 22:47:19
* @Last Modified by:   konstantinkuchernko
* @Last Modified time: 2017-05-24 22:58:44
*/


#map {
	height: 300px;
	width: 100%;
}

h1 {
	text-align: center;
}

div {
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 10px 0;
}

